*.[ao]
*.gcov
*.gcda
*.gcno
*.tcov
.deps
INSTALL
memcached
memcached-debug
memcached-debug.profile
stamp-h1
tags
TAGS
cscope.out
memcached_dtrace.h
*~
memcached-*.tar.gz
doc/protocol-binary-range.txt
doc/protocol-binary.txt
/sizes
/version.num
/testapp
/timedrun
/doc/doxy
